%h2 Your Order has been placed !!
- @order_items.each do |order_item|
  .well
    .row
      .col-xs-2
        %h4= product_name(order_item[:product_id])
      .col-xs-4
        = image_tag find_image_url(order_item[:product_id]),height: 100,width: 100
      .col-xs-2
        %h5 Quantity:
        = order_item[:quantity]
      .col-xs-2
        %h4.text-right
          Unit Price: Rs.
          %span
            = order_item[:unit_price]
      .col-xs-2.text-right
        %h4
          Total Price: Rs.
          %span
            = order_item[:subtotal]
      .row
        - if order_item[:state] != "cancelled" && order_item[:state] != "delivered"
          .col-xs-4.text-right
            = link_to "Cancel",order_item_cancel_path(order_item[:id]), class: "btn btn-danger",method: :put
        .col-xs-4.text-left
          %p
            Status :
            = order_item[:state]
%h3 Your Order will be delivered to :
%p
  = @address.house_number
  = @address.street
  = @address.city
  = @address.state
  = @address.pincode

