.container
  - @products.each_slice(3) do |x,y,z|
    .row
    - if x
      .col-md-3.portfolio-item.jumbotron.col-md-offset-1
        = link_to (image_tag x.image_url.to_s,height:200, width:200),product_show_path(x.id)
        %h3
          = x.name
        %p
          = x.cost
          Rs/-
    - if y
      .col-md-3.portfolio-item.jumbotron.col-md-offset-1
        = link_to (image_tag y.image_url.to_s,height:200, width:200),product_show_path(y.id)
        %h3
          = y.name
        %p
          = y.cost
          Rs/-
    - if z
      .col-md-3.portfolio-item.jumbotron.col-md-offset-1
        = link_to (image_tag z.image_url.to_s,height:200, width:200),product_show_path(z.id)
        %h3
          = z.name
        %p
          = z.cost
          Rs/-
